{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">All Examples</h2>
    <div class="row">
        {% for boba in bobas %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ boba.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    Ready?: {{ boba.name }}
                </h5>
                <p class="card-text">
                    Body: {{ boba.recipes }}
                </p>
                <p class="card-text">
                    Amount: {{ boba.description }}
                </p>
                <a href="/Boba/{{ boba.id }}" class="btn btn-info">
                    View {{ boba.title }}
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}