{% layout 'layout.liquid'%}
{% block content %}
<div>
    <h2 class="display-6">Recipes</h2>
    <div class="row">
        {% for boba in bobas %}
        <div class="card" style="width: 18rem;">
            <h5 class="card-header">{{ boba.title }}</h5>
            <div class="card-body">
                <h5 class="card-title">
                    {{ boba.name }}
                </h5>
                
        
                <a href="/boba/{{ boba.id }}" class="btn btn-info">
                    View {{ boba.title }}
                </a>
                <a href="/auth/favorite/{{ boba.id }}" class="btn btn-info">
                    Favorite {{ boba.title }} 
                </a>
                
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}